﻿
@{
    ViewBag.Title = "Custom File Generator";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<style>
    .customer-file .form-inline .form-group {
        display: inline;
    }

    .box-section {
    }

    .customer-file-form {
        background: #ddd;
        padding: 20px;
        border: 1px solid #000;
    }

    .table-bordered > thead > tr > th {
        background: #eee;
    }

    .m-t-20 {
        margin-top: 20px;
    }

    .customerfile-heading {
        padding: 20px 0;
    }
</style>

<div class="customerfile-heading">
    <h2>Custom File Generator <span class="pull-right"><img src="~/Content/image/downloadfile.PNG" /></span></h2>
</div>

<div id="loader-wrapper" style="display:none">
    <div id="loader"></div>
    <div id="loader-text" class="loader-text" style="display:none;"><h1>The Excel file takes time more than expected. It will be downloaded automatically......</h1></div>
</div>

<div class="customer-file">
    <div class="row">
        <div class="col-md-12 customer-file-form">
            <div class="form-inline">
                <div class="form-group">
                    <label for="sel1">Client</label>
                    <select class="form-control" id="ddlClient"></select>
                </div>
                <div class="form-group">
                    <label for="sel1">Schedule</label>
                    <select class="form-control" id="ddlSchedule"></select>
                </div>

                <button type="submit" class="btn btn-primary" onclick="customFileGenerator.GetProcessList();">Search</button>
            </div>
        </div>
    </div>
    <table class="table table-bordered m-t-20">
        <thead>
            <tr>
                <th>Process Description</th>
                <th>Client</th>
                <th>Schedule</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr id="noRecord">
                <td colspan="4" style="text-align:center;">No Record Found</td>
            </tr>
        </tbody>
    </table>

    @*<div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-success" onclick="customFileGenerator.ExportExcelFile();">Export File</button>
            </div>
        </div>*@
</div>

@section scripts{
    <script src="~/Scripts/app/CustomFileGenerator.js"></script>
}

